/* contact page */
*{
        margin:0;
        padding:0;
}
body{
    /* padding-top: var(--section-padding);
    padding-bottom: var(--section-padding); */
    background: linear-gradient(#200016, #10001f);
    /* height:100vh; */
    font-family:system-ui;
    border-bottom: 5px  solid rgb(3, 92, 92) ;
    /* background: radial-gradient(
    circle,
    lighten(linear-gradient(#200016, #10001f), 1%),
    darken(linear-gradient(#200016, #10001f), 20%)     */
}
header{
        position: absolute;
        text-align: center;
        width: 75%;
        left:12%;
        top:2rem;
        color:white
}
header h1{
        font-size: 30px;
}
.contact .content{
    display: flex;
    justify-content:space-between;
    margin-bottom: 50px;
}
.contact .content form{
        flex-basis: 60%;
        margin-top: 391px;
}
.contact .content form .main-input{
        padding:20px;
        display: block;
        border: 1px solid #ccc;
        margin-bottom: 30px;
        width:100%;
        background-color: transparent;
        color: snow;
}
.contact .content form .main-input:focus{
        outline:none;
}
.contact .content form textarea.main-input{
    height:200px;
}
.contact .content form input[type="submit"]{
        background-color:rgb(3, 92, 92);
        color: white;
        padding: 20px;
        border:none;
        display:flex;
        margin-left: auto;
        text-transform: uppercase;
        cursor: pointer;
        margin-bottom: 10px;
}
.contact .content form input[type="submit"]:hover{
        color: #200016;
        background-color: rgb(24, 192, 184);

}
.contact .content .info{
        flex-basis: 25%;
        margin-top: 400px;
        margin-left: 315px;
}
.contact .content .info h4{
    /* text-transform: uppercase; */
    margin-bottom: 30px;
    /* font-weight: 500; */
    font-size: 25px;
    color: white;
}
.contact .content .info .phone{
        display:block;
        color:snow;
        margin-bottom: 10px;
}
.contact .content .info h4:nth-of-type(2){
        margin-top: 90px;
        font-size: 25px;
}
.contact .content .info address{
        line-height: 2;
        text-align: auto;
        color:snow;
        text-align: justify;
}
.foot {
    color: rgb(0, 255, 242);
    text-align: center;
    background: #10001f;
}
.foot a{
    color: white;
    text-decoration: none;
}
