*{
  margin : 0 ;
    padding: 0 ;
}
body {
  
  height: 100%;
}
body {
  margin: 50px;
  font-size: 100%;
  color: #444;
  line-height: 1.5;
  font-family: Roboto;
  background: linear-gradient(#200016, #10001f);
  background: radial-gradient(
    circle,
    lighten(linear-gradient(#200016, #10001f), 1%),
    darken(linear-gradient(#200016, #10001f), 20%)
    
  );
}
a{    /*links */
  text-decoration: none;
  color: #fff;
}
header{  /*navigation bar*/
  display : flex;
  justify-content: space-between;
  align-items: center; 
  margin : 15px;
  

}

header ul  {
  display : flex ;
  justify-content: center ;
  align-items:center ;
  list-style : none ;
  
}
header ul li{  /*mmargin right to lists */
  margin-right: 20px;
}

header ul li a {   /*links border and padding*/

  padding: 6px  15px;
  border-radius: 20px;
  
}

header ul li a:hover  { /*hover on links in nav bar */
  background: rgb(241, 221, 1);
  color: #200016;
}

h2{   /*myron css*/
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  color:white;
  
}
h2 a:hover{ /*myron mouse hover*/

color: rgb(195, 255, 0);
padding: 2px;

}
.section {
  
  width: 100%;
  min-height: 79vh;
 height:fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
  
  .section h1 {  /*Find it but it love it  style*/
    
    text-align:center;
    font-size: 4rem;
    font-family: "Cookie";
    padding: 10px;
    opacity: 0.7;
    color: white ;
    background-color: #030303;
    
  }
  /*sidebar navigation style*/
  .sidenav {
    height: 90%;
    width: 0 ;
    position: fixed;
    z-index: 1;
    top: 1;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  /* href sidebar style */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ebe5e5;
    display: block;
    transition: 0.3s;
  }
  /*category style */
  .sidenav h4 {
    padding: 4px 8px 8px 32px;
    font-size: 30px;
    color: #fcac00;
  }
  /* mouse hover sidbar elements */
  .sidenav a:hover {
    color: #9f0707;
  }
  /* X style */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
   
  }
 /* when the height of the screen is less than 450px, add a smaller padding and font-size*/
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    
    .sidenav a {font-size: 18px;}
  }
  /* Explore style */
    .sidebar{
    
      font-size:30px;
      cursor:pointer;
        color: #000000;
       background-color: lightgreen;
       padding: 5px;
       border-radius: 10px;
       text-align: right;
      opacity: 0.9;
      }
  

/* @main-bg-colour:rgb (25,159,158);
@other-colour: desaturate(spin(@main-bg-colour, 10), 15%);
@main-font-colour: #fff; */

*,
*:before,
*:after {
  box-sizing: border-box;
}
/* .cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
} */

.wrapper {
  width: 1000px;
  margin: 50px auto;
  background: #fff;
  border-radius: 8px;
  padding: 2em;
}

ol {
  counter-reset: my-counter;
  list-style-type: none;
}

/* ol ol {
  margin-left: 0.9em;
} */

ol li {
  counter-increment: my-counter;
  line-height: 1.5;

&::before {
    content: counters(my-counter, ".") ".";
    font-weight:700;
    text-transform:uppercase;
    padding-right:4px;
  }
}
h1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 400;
  color: #200016;
  border-bottom: 1px solid #200016;
  margin-bottom: 1em;
}
.relheader {
  text-align: center;
  font-size: x-large;
  font-family: sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: underline;
  color: #200016;
  margin-bottom: 30px;
}
.list {
  list-style-type: circle;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: bold;
  font-style: normal;
  /* color: #444; */
  letter-spacing: 2px;
  line-height: 33px;
  text-align: left;
  color: #10001f;
  /* height: 66px;
  width: 1289px; */
}
.paragraph {
  font-size: 20px;
  line-height: 28px;
  color: #200016;
}
.foot {
  color: rgb(24, 192, 184);
  text-align: center;
}
.home {
  text-decoration: underline;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.home:hover {
  color: aquamarine;
}
.footer {
  text-decoration: underline;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.footer:hover {
  color: #444;
}
