*, body, html {
    margin: 0;
    padding: 0;
    font: 1em;
}
body{
    background-color: #eee;
    display: auto;
    
}
a{    /*links */
    text-decoration: none;
    color: #fff;
}
header{  /*navigation bar*/
    display : flex;
    justify-content: space-between;
    align-items: center; 
    margin : 15px;
    

}

header ul  {
    display : flex ;
    justify-content: center ;
    align-items:center ;
    list-style : none ;
    
}
header ul li{  /*mmargin right to lists */
    margin-right: 20px;
}

header ul li a {   /*links border and padding*/
  
    padding: 6px  15px;
    border-radius: 20px;
    
}

header ul li a:hover  { /*hover on links in nav bar */
    background: rgb(241, 221, 1);
    color: #200016;
}
h2{   /*myron css*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color:white;
    
}
h2 a:hover{ /*myron mouse hover*/
  
  color: rgb(195, 255, 0);
  padding: 2px;
 
}
.sidenav {
    height: 90%;
    width: 0 ;
    position: fixed;
    z-index: 1;
    top: 1;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  /* href sidebar style */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ebe5e5;
    display: block;
    transition: 0.3s;
  }
  /*category style */
  .sidenav h4 {
    padding: 4px 8px 8px 32px;
    font-size: 30px;
    color: #fcac00;
  }
  /* mouse hover sidbar elements */
  .sidenav a:hover {
    color: #9f0707;
  }
  /* X style */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
   
  }
 /* when the height of the screen is less than 450px, add a smaller padding and font-size*/
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    
    .sidenav a {font-size: 18px;}
  }
  /* Explore style */
    .sidebar{
    
      font-size:30px;
      cursor:pointer;
        color: #000000;
       background-color: lightgreen;
       padding: 5px;
       border-radius: 10px;
       text-align: right;
      opacity: 0.9;
      }
  

/*___________________________________________*/

.menu{
    width: 100%;
    background-color: #333;
    color: #fff;
    height: 60px;
}

.my img{
    width: 10px; height: 10px;
    float: left;
    height: 30px;
    padding: 15px 30px;
    font-size: 1.2em;
    line-height: 30px;
}

.menu #logo {
    float: left;
    height: 30px;
    padding: 15px 30px;
    font-size: 1.2em;
    line-height: 30px;
    display: none;
}

.menu > ul{
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
}

.menu > ul > li {
    float: left;
}

.menu-item{
    display: inline-block;
    padding: 15px 20px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
}

.menu-item:hover{
    background-color: #ff0055;
    color: black;
}

/*____________________STYLING SUB_______________________*/

.sub-content {
    position: absolute;
    top:60px ;
    overflow: hidden;
    background-color: #333;
    max-height: 0;
}

.sub-content a {
    color: #fff;
    text-decoration: none;
}

.sub-drop{
    padding: 0;
}

.sub-drop ul{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type:none ;
}

.sub-drop ul li a {
display: inline-block;
padding: 10px 20px;
}

.sub-drop ul li:hover {
    background-color: #ff0055;
}

.sub-drop ul li a:hover{
    color: black;
}

/*____________________ Controling_______________________*/

.menu-item:focus{
    background-color: #ff0055;
}

.menu ul li:hover  .sub-content{
    max-height: 400px;
    transition: max-height 1s ease-in;
    ~webkit-transition: max-height 1s ease-in;
    ~moz-transition: max-height 1s ease-in;
}

#rmenu{
    float: right;
}

/*__________________clothes men______________________*/

/*#img1{
    padding: 15px 15px;
    background-color: #130c0c;
}

#img2{

    padding: 15px 15px;
    background-color: #130c0c;
    width: 300px;
    height: 250px;
}

#img3{
    padding: 15px 15px;
    background-color: #130c0c;
    width: 300px;
    height: 250px;
}

#img4{
    padding: 15px 15px;
    background-color: #130c0c;
    width: 300px;
    height: 250px;
}

.img1{
    margin-left: 0px;
    width: 270px;
    border: 1px solid red;

}
.img2{
    width: 330px;
    margin-left: 300px;
    margin-top: 10px;
    border: 1px solid red;
}
*/


*{
    box-sizing: border-box;
}

.img{
    width: 25%;
    float: left;
    margin-left: 30px;
    margin-right: 40px;
    padding: 30px;
}

.img img{
    height: 25%;
    border: 10px solid black;
}
/*
.img2{
    width: 25%;
    float: left;
    margin-left: 30px;
    margin-right: 40px;
    padding: 30px;
}

.img2 img2 {
    height: 25%;
    border: 10px solid black;
}*/

/*__________________clothes women______________________*/

